<!DOCTYPE html>
<html ng-app="flickr-application">

<head>
    <title>Flickr api task</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="./src/style/style.css">
    <script src="dist/index.min.js"></script>
</head>

<body ng-controller="PhotosController">
    <!-- Top menu with search form -->
    <div class="menu">
        <div class="container">
            <form ng-submit="searchTyping()">
                <ul>
                    <li>
                        <input type="text" class="search" ng-model="pagination.text" placeholder="Type your search here">
                    </li>
                    <li>
                        <button class="search-btn" type="submit">search</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <!-- Top menu with search form ends here -->
    <!-- List of Flickr photos -->
    <div class="container mt">
        <div class="card animation" ng-repeat="photo in photos">
            <div class="media">
                <a href="https://www.flickr.com/photos/{{photo.owner}}/{{photo.id}}" target="_blank">
                    <img ng-src="//farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_q.jpg" alt="{{photo.title}}">
                </a>
            </div>
            <div class="head">
                <a href="https://www.flickr.com/photos/{{photo.owner}}/{{photo.id}}">view photo</a>
                <span>or</span>
                <a href="https://www.flickr.com/people/{{photo.owner}}">view author</a>
            </div>
            <div class="description">
                {{photo.description._content | limitTo : 30}}...
            </div>
            <div class="tags" ng-show="photo.tags">
                Tags: {{photo.tags.join(' ')}}
            </div>
        </div>
        <div class="clear"></div>
        <div id="infinity-eye"></div>
    </div>
    <!-- List of Flickr photos ends here -->
    <!-- This loading bar is fixed at the bottom and is showed only if loading is in progress -->
    <div class="loading-bar animation" ng-show="loadingInProgress">Loading...</div>
</body>

</html>