body {
    margin: 0;
    padding: 0;
    font: 12px 'verdana';
}

.container {
    width: 980px;
    padding: 10px;
    margin: 0 auto;
}


.mt {
    margin-top: 100px;
}

.card {
    border: 1px solid #ebebeb;
    width: 150px;
    height: 250px;
    padding: 10px;
    margin: 5px;
    float: left;
    border-radius: 5px;
    z-index: 50;
}

.card:hover {
    background-color: skyblue;
    cursor: pointer;
}

.card .description {
    padding: 10px;
    word-wrap: break-word;
}

.clear {
    clear: both;
}

.animation {
    -webkit-transition: 1s;
}

.animation.ng-enter {
    opacity: 0;
}

.animation.ng-leave {
    opacity: 1;
}

.animation.ng-enter.ng-enter-active {
    opacity: 1;
}

.animation.ng-leave.ng-leave-active {
    opacity: 0;
}

.menu {
    width: 100%;
    height: 60px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: silver;
    box-shadow: 0 0 10px 0 #ebebeb;
}

.menu ul {
    padding: 0;
    margin: 0;
    line-height: 60px;
}

.menu .container {
    padding: 0;
}

.menu .container ul li {
    display: inline;
    margin: 10px;
}

.menu .container ul li input[type="text"] {
    border: 1px solid #007b90;
    padding: 10px;
    width: 60%;
}

.search-btn {
    width: 20%;
    padding: 10px;
    text-align: center;
    border: 1px solid #ebebeb;
    cursor: pointer;
    outline: none;
    background-color: white;
}

.search-btn:active {
    background-color: silver;
}


@media only screen and (max-width:960px) {
    .container {
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }
    
    .card {
        margin: 0;
        border: none;
        width: 50%;
        padding: 10px 0;
        text-align: center;
    }
    
    .card .head {
        padding: 20px;
    }
    
    
    .search-btn {
        padding: 10px;
        text-align: center;
        border: 1px solid #ebebeb;
        cursor: pointer;
        outline: none;
        background-color: white;
    }
}

.loading-bar {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    border-top: silver;
    box-shadow: 0 0 10px 0 #ebebeb;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
}